<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-icon src="../../assets/CS-logo.svg"></ion-icon>
      CS BANK
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="transactions.length">
  <h1>{{transactions[0].txType}} - Inquiry</h1>
  <ion-searchbar placeholder="Reference Number..." [(ngModel)]="searchText" animated="true"></ion-searchbar>
  <ion-list>
    <ion-list-header>
      <ion-label class="ion-text-wrap">Reference Number</ion-label>
      <ion-label class="ion-text-wrap">Request Date</ion-label>
      <ion-label class="ion-text-wrap">Beneficiary</ion-label>
      <ion-label class="ion-text-wrap">Transaction Amount</ion-label>
      <ion-label class="ion-text-wrap">Current Status</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let trx of transactions | searchFilter: searchText" 
        [routerLink]="trx.refNo ? '/view-details/' + trx.refNo : null" [detail]="false">
      <ion-label class="ion-text-wrap">{{trx.refNo}}</ion-label>
      <ion-label class="ion-text-wrap">{{trx.txDate}}</ion-label>
      <ion-label class="ion-text-wrap">{{trx.txBeneficiary}}</ion-label>
      <ion-label class="ion-text-wrap">{{trx.txAmount}}</ion-label>
      <ion-label class="ion-text-wrap">{{trx.txStatus}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
